.u-centered-text {
    text-align: center;
}

.u-margin-bottom {
    margin-bottom: $u-margin-bottom;
}

.u-margin-bottom-small {
    margin-bottom: $u-margin-bottom-small;
}

.u-margin-bottom-medium {
    margin-bottom: $u-margin-bottom-medium;
}